/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

#content {
  text-align: left;
  width: $content-width;
  margin: 0 auto;
  h1 {
    font-size: 1.5em;
  }
  a, a:visited, a:hover {
    color: #242;
    &:hover {
      text-decoration: underline;
    }
  }
  ul, form, p {
    margin: 10px 0;
  }
}

form {
  label {
    display: block;
    margin: 5px 0;
    color: #444;
  }

  input[type=text], input[type=password], textarea {
    color: #444;
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 200px;
    outline: 0;
    @include shadow(rgba(0,0,0, 0.1), 0px, 0px, 8px);
    &:focus {
      border: 1px solid #c9c9c9;
    }
  }

  textarea {
    width: 400px;
    height: 200px;
  }
}


.field_with_errors {
  display: inline;
  label { color: $error-text-color; }
  input[type=text], input[type=password], textarea {
    border: 1px solid rgba(189,74,72, 0.5);
    @include shadow(rgba(189,74,72, 0.2), 0px, 0px, 8px);
    &:focus { border: 1px solid rgba(189,74,72, 0.6); }
  }
}
.error_message {
  margin-left: 5px;
  display: inline;
  color: $error-text-color;
}
.padded_flash {
  padding: 10px;
  margin: 10px 0;
  font-weight: bold;
  width: 500px;
}
#error_explanation {
  border: 1px solid $error-text-color;
  color: $error-text-color;
  background-color: #F2DEDE;
  @extend .padded_flash;
}
#notice {
  color: $success-text-color;
  border: 1px solid $success-text-color;
  @extend .padded_flash;
  background-color: #DFF0D8;
}
#alert {
  color: $error-text-color;
  border: 1px solid $error-text-color;
  @extend .padded_flash;
  background-color: #F2DEDE;
}
